<div  ng-app="myApp" >

  <div class="header dark-primary-color text-primary-color">
    <nav class="default-primary-color">

      <div class="">
        <a href="/#/" class="primary-text-color"><strong>Build</strong></a><a href="/#/" class="text-primary-color"><strong>T</strong>ester</a>
      </div>


    </nav>
  </div>
  <div class="container" ng-view>

  </div>
  <div class="footer dark-primary-color text-primary-color" >
    <span class="icon-info"> </span>
    <span>BuildTester isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</span>
    <p>
      Credits:<br>
      <span class="icon-twitter"></span>CMariusCP <br>
      <span class="icon-twitter"></span>diegofdocastro
    </p>




  </div>
</div>
<script src="/js/angular.js"></script>
<script src="js/route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/jquery.min.js"></script>
